<h1>B U R G E R S</h1>

<div class="container">
  <div class="row">
    <div class="col-6 burgers" >
      <div>Burgers to Devour</div>
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
      {{/unless}}
      {{/each}}
    </div>
    <div class="col-6 burgers" >
      <div>Burgers Devoured</div>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>


<h2>Order yourself a burger!</h2>
<form class="create-form addBurger">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>